<h5 class="md-heading" data-aos="fade-in">One Column</h5>
<mat-form-field appearance="outline" class="mb-20" data-aos="fade-up" data-aos-delay="100">
    <mat-label>First Name</mat-label>
    <input matInput />
</mat-form-field>
<mat-form-field appearance="outline" class="mb-20" data-aos="fade-up" data-aos-delay="200">
    <mat-label>Last Name</mat-label>
    <input matInput />
</mat-form-field>
<mat-form-field appearance="outline" class="mb-26" data-aos="fade-up" data-aos-delay="300">
    <mat-label>Comment</mat-label>
    <textarea matInput rows="4"></textarea>
</mat-form-field>
<h5 class="md-heading" data-aos="fade-up" data-aos-delay="400">Two Column</h5>
<div class="row mb-6p">
    <div class="col-sm-6" data-aos="fade-up" data-aos-delay="500">
        <mat-form-field appearance="outline" class="mb-20">
            <mat-label>Email</mat-label>
            <input matInput value="Jinni@gmail.com" />
        </mat-form-field>
    </div>
    <div class="col-sm-6" data-aos="fade-up" data-aos-delay="600">
        <mat-form-field appearance="outline" class="mb-20">
            <mat-label>Account Number</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
    <div class="col-sm-6" data-aos="fade-up" data-aos-delay="700">
        <mat-form-field appearance="outline" class="mb-20">
            <mat-label>Full Name</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
    <div class="col-sm-6" data-aos="fade-up" data-aos-delay="800">
        <mat-form-field appearance="outline" class="mb-20">
            <mat-label>Occupation</mat-label>
            <input matInput value="Designer" />
        </mat-form-field>
    </div>
</div>
<h5 class="md-heading" data-aos="fade-up" data-aos-delay="900">Three Column</h5>
<div class="row mb-6p">
    <div class="col-sm-6 col-md-4" data-aos="fade-up" data-aos-delay="1000">
        <mat-form-field appearance="outline" class="mb-20">
            <mat-label>Designation</mat-label>
            <input matInput value="Senior Manager" />
        </mat-form-field>
    </div>
    <div class="col-sm-6 col-md-4" data-aos="fade-up" data-aos-delay="1100">
        <mat-form-field appearance="outline" class="mb-20">
            <mat-label>Adhaar Card</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
    <div class="col-sm-6 col-md-4" data-aos="fade-up" data-aos-delay="1200">
        <mat-form-field appearance="outline" class="mb-20">
            <mat-label>Pan Card</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
</div>
<h5 class="md-heading" data-aos="fade-up" data-aos-delay="1300">Four Column</h5>
<div class="row mb-6p">
    <div class="col-sm-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="1400">
        <mat-form-field appearance="outline" class="mb-20">
            <mat-label>Designation</mat-label>
            <input matInput value="Senior Manager" />
        </mat-form-field>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="1500">
        <mat-form-field appearance="outline" class="mb-20">
            <mat-label>Adhaar Card</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="1600">
        <mat-form-field appearance="outline" class="mb-20">
            <mat-label>Pan Card</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="1700">
        <mat-form-field appearance="outline" class="mb-20">
            <mat-label>Pan Card</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
</div>
<h5 class="md-heading other-title" data-aos="fade-up" data-aos-delay="1800">Other Elements</h5>
<div data-aos="fade-up" data-aos-delay="1900">
    <h6 class="pb-3">File Upload</h6>
    <div class="upload-outer">
        <div class="upload-btn">
            <div class="file-upload">
                <img src="./assets/images/upload-white-icon.svg" alt="Upload">
                <span>Upload</span>
            </div>
            <input type="file" />
        </div>
        <p>No Item Selected</p>
    </div>
</div>
<div data-aos="fade-up" data-aos-delay="100">
    <h6 class="pb-0">Radio Button</h6>
    <mat-radio-group aria-label="Select an option" color="primary" class="pb-2">
        <mat-radio-button value="1" checked>Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
</div>
<div data-aos="fade-up" data-aos-delay="200">
    <h6 class="pb-0">Checkbox</h6>
    <div class="checkbox-grp">
        <mat-checkbox color="primary" checked>Option 1</mat-checkbox>
        <mat-checkbox color="primary">Option 2</mat-checkbox>
    </div>
</div>
<div data-aos="fade-up" data-aos-delay="300">
    <h6 class="pb-3">Toggle button</h6>
    <div class="toggle-outer">
        <mat-slide-toggle color="primary">Off</mat-slide-toggle>
        <mat-slide-toggle color="primary" checked>On</mat-slide-toggle>
    </div>
</div>

<h6 class="pb-3" data-aos="fade-up" data-aos-delay="400">Snack bar</h6>
<div class="alert-outer">
    <div class="alert success" data-aos="fade-up" data-aos-delay="500">
        <img src="./assets/images/success-icon.svg" alt="Success" />
        <p>This is a success message</p>
        <button mat-icon-button>
            <img src="./assets/images/success-close-icon.svg" alt="Success" />
        </button>
    </div>
    <div class="alert info" data-aos="fade-up" data-aos-delay="600">
        <img src="./assets/images/info-icon.svg" alt="Info" />
        <p>This is an info message</p>
        <button mat-icon-button>
            <img src="./assets/images/info-close-icon.svg" alt="Info" />
        </button>
    </div>
    <div class="alert warning" data-aos="fade-up" data-aos-delay="700">
        <img src="./assets/images/warning-icon.svg" alt="Warning" />
        <p>This is an alert message</p>
        <button mat-icon-button>
            <img src="./assets/images/warning-close-icon.svg" alt="Warning" />
        </button>
    </div>
    <div class="alert error" data-aos="fade-up" data-aos-delay="800">
        <img src="./assets/images/error-icon.svg" alt="Error" />
        <p>This is a success message</p>
        <button mat-icon-button>
            <img src="./assets/images/error-close-icon.svg" alt="Error" />
        </button>
    </div>
</div>
<div data-aos="fade-up" data-aos-delay="900">
    <h6 class="pb-3">Tabs</h6>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight>
        <mat-tab label="Tab 1">
            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                demoralized
                by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and
                trouble
                that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of
                will,
                which is the same as saying through shrinking from toil and pain.</p>
            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                demoralized
                by the charms of pleasure of the.</p>
        </mat-tab>
        <mat-tab label="Tab 2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque consectetur volutpat libero elementum arcu,
            suspendisse consectetur aliquet risus. Ac vitae sit lectus justo. Tristique nisi, egestas varius eu lectus
            nisi, aenean est sed. Ut arcu vitae nunc porttitor phasellus. Id etiam purus tortor etiam neque. Ipsum dui
            cras habitasse cras at lorem cursus enim. Lectus interdum facilisis sem aliquam facilisi scelerisque
            vestibulum pharetra sollicitudin.
        </mat-tab>
    </mat-tab-group>
</div>